<!DOCTYPE html>
<html>

<% include ../admin/headerAd.ejs %>


<body class="bg-warning">
  <br>
  <br>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <br>
              <h2 class="text-center">Insert Confirmation Code</h2>
              <br>
              <div class="row">
                <div class="col-md-12 m-0 p-0">
                  <form class="" method="post" action="/admin/confirm" id="confirmform">
                    <div class="form-group w-75 mx-auto">
                      <input type="text" id="code" class="form-control form-control-lg" placeholder="Confirmation Code" maxlength="4"required> </div>
                </div>
              </div>
            </div>
              <button type="submit" class="btn w-75 active btn-block btn-success mx-auto">Confirm</button>
              <br>
                  </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% include ../admin/scriptAd.ejs %>
</body>
<script>
  $(function(){

    var frm = $('#confirmform');

    frm.submit(function (ev) {
          ev.preventDefault();
            var code = $('#code').val();
            var formData = { code : code };
           
          $.ajax({
              url: frm.attr('action'),
              type: frm.attr('method'),
              data:  formData,
              success: function (success) {
                if(!success.err){
                    window.location = '/admin/'+success.code+"/information" ;
                }else{
                  swal("แย่จัง!!", "code ผิดน้า", "error").then(() => {
                    window.location.reload();
                  });
                }
              } 
          });
    })
  });
</script>
</html>
