<!DOCTYPE html>
<html>

<% include ../admin/headerAd.ejs %>


<body class="bg-warning">
  <div class="">
    <div class="container mx-auto p-0">
      <div class="row">
        <div class="col-md-12 m-3"> </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card bg-light text-center px-5py p-4">
            <h4 class="py-0 text-warning"><%= payload.name %>
              <br><%= payload.nickname %> <%= payload.year%></h4>
            <br>
            <img class="img-fluid d-block mx-auto rounded-circle" src="/picture/pirate-dog.jpg" width="200" height="200">
            <br>
            <h4 class="text-warning">รับเสื้อไปแล้วเด้อ</h4>
            <div class="row">
              <div class="col-md-12">
                <a class="btn w-75 m-3 btn-success" href="/admin/confirm">กลับหน้าแรก</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
   
  <% include ../admin/scriptAd.ejs %>
</body>

</html>
