<!DOCTYPE html>
<html>
<% include ../admin/headerAd.ejs %>


<body class="bg-warning">
  <br>
  <br>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <h2 class="text-center">CS#32 Camp Admin</h2>
            </div>
            <form  method="POST" action="/admin/login" id = "loginform">
              <div class="form-group w-75 mx-auto"> <label>Username</label>
                <input id = "username" type="text" name="username" class="form-control" placeholder="Username" required> </div>
              <div class="form-group w-75 text-left mx-auto"> <label>Password</label>
                <input id = "password" type="password" name="password" class="form-control" placeholder="Password" required> </div>
              <input id="login" type="submit" class="btn w-75 active mx-auto btn-block btn-success" value ="Login">
              <br>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <% include ../admin/scriptAd.ejs %>
</body>

<script>
  $(function(){

    var frm = $('#loginform');

    frm.submit(function (ev) {
          ev.preventDefault();
            var username = $('#username').val();
            var password = $('#password').val();

            var formData = { username: username, password: password };

          $.ajax({
              url: frm.attr('action'),
              type: frm.attr('method'),
              data:  formData,
              success: function (success) {
                if(success.check){
                  swal("เย้!!!", "ไปหน้า Confirm กัน!", "success").then(() => {
                    window.location = '/admin/confirm';
                  });
                }else{
                  swal( 'แย่จัง!!!','username หรือ password ผิดพลาด!','error' ).then(() => {
                    window.location = '/admin/' ;
                  });
                  
                }
              } 
          });
    })
  });
</script>

</html>
