<!DOCTYPE html>
<html>

<% include ../admin/headerAd.ejs %>

<body class="bg-warning">
  <div class="">
    <div class="container mx-auto p-0">
      <div class="row">
        <div class="col-md-12 m-3"> </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card bg-light text-center px-5py p-4">
            <h4 class="py-0 text-warning"><%= payload.name %>
              <br><%= payload.nickname %></h4>
            <p class="lead text-left mx-auto">อาหารที่แพ้ : <%= payload.allegic %>
              <br>ไซส์เสื้อ : <%= payload.size %></p>
            <h1 class="text-danger">ยังไม่ได้จ่ายเงิน!!</h1>
            <div class="row">
              <div class="col-md-12">
                <a class="btn w-75 m-3 btn-success" href="">จ่ายเงินเรียบร้อยจ้า</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <% include ../admin/scriptAd.ejs %>
</body>

</html>
